(
    content: [
        {
            "bv": 0.713,
            "ub": 0.426,
            "full_name": "1 Ceres (A801 AA)",
            "albedo": 0.09,
            "extent": "964.4 x 964.2 x 891.8",
            "gm": 62.6284,
            "ir": "",
            "spec_b": "C",
            "diameter": 939.4,
            "spec_t": "G",
            "rot_per": 9.07417,
        },// [0]
        {
            "albedo": 0.101,
            "rot_per": 7.8132,
            "diameter": 545,
            "ub": 0.284,
            "spec_b": "B",
            "full_name": "2 Pallas (A802 FA)",
            "extent": "582x556x500",
            "spec_t": "B",
            "gm": 14.3,
            "ir": "",
            "bv": 0.635,
        },// [1]
        {
            "spec_b": "Sk",
            "spec_t": "S",
            "albedo": 0.214,
            "rot_per": 7.21,
            "ub": 0.433,
            "full_name": "3 Juno (A804 RA)",
            "gm": "",
            "bv": 0.824,
            "ir": "",
            "extent": "",
            "diameter": 246.596,
        },// [2]
        {
            "extent": "572.6 x 557.2 x 446.4",
            "bv": 0.782,
            "full_name": "4 Vesta (A807 FA)",
            "gm": 17.8,
            "albedo": 0.4228,
            "rot_per": 5.34212766,
            "ir": "",
            "ub": 0.492,
            "diameter": 525.4,
            "spec_t": "V",
            "spec_b": "V",
        },// [3]
        {
            "spec_b": "S",
            "spec_t": "S",
            "albedo": 0.274,
            "extent": "",
            "diameter": 106.699,
            "rot_per": 16.806,
            "gm": "",
            "ub": 0.411,
            "ir": "",
            "full_name": "5 Astraea (A845 XA)",
            "bv": 0.826,
        },// [4]
        {
            "rot_per": 7.2745,
            "extent": "",
            "bv": 0.822,
            "spec_b": "S",
            "spec_t": "S",
            "albedo": 0.2679,
            "full_name": "6 Hebe (A847 NA)",
            "gm": "",
            "diameter": 185.18,
            "ub": 0.399,
            "ir": "",
        },// [5]
        {
            "spec_t": "S",
            "ir": "",
            "albedo": 0.2766,
            "ub": 0.484,
            "spec_b": "S",
            "extent": "",
            "full_name": "7 Iris (A847 PA)",
            "diameter": 199.83,
            "bv": 0.855,
            "rot_per": 7.139,
            "gm": "",
        },// [6]
        {
            "spec_t": "S",
            "ub": 0.489,
            "gm": "",
            "bv": 0.885,
            "extent": "",
            "ir": "",
            "full_name": "8 Flora (A847 UA)",
            "albedo": 0.226,
            "diameter": 147.491,
            "rot_per": 12.865,
            "spec_b": "",
        },// [7]
        {
            "spec_b": "",
            "ub": 0.496,
            "gm": "",
            "full_name": "9 Metis (A848 HA)",
            "bv": 0.858,
            "extent": "",
            "albedo": 0.118,
            "rot_per": 5.079,
            "ir": "",
            "diameter": 190,
            "spec_t": "S",
        },// [8]
        {
            "diameter": 407.12,
            "gm": 7,
            "bv": 0.696,
            "rot_per": 13.828,
            "spec_t": "C",
            "full_name": "10 Hygiea (A849 GA)",
            "extent": "",
            "ub": 0.351,
            "ir": "",
            "spec_b": "C",
            "albedo": 0.0717,
        },// [9]
        {
            "gm": "",
            "rot_per": 13.7204,
            "ub": 0.417,
            "albedo": 0.191,
            "ir": "",
            "spec_t": "S",
            "full_name": "11 Parthenope (A850 JA)",
            "diameter": 142.887,
            "extent": "",
            "spec_b": "Sk",
            "bv": 0.837,
        },// [10]
        {
            "ir": "",
            "gm": "",
            "spec_t": "S",
            "extent": "",
            "rot_per": 8.6599,
            "full_name": "12 Victoria (A850 RA)",
            "bv": 0.874,
            "diameter": 115.087,
            "ub": 0.515,
            "spec_b": "L",
            "albedo": 0.163,
        },// [11]
        {
            "spec_b": "Ch",
            "diameter": 202.636,
            "bv": 0.745,
            "extent": "",
            "albedo": 0.049,
            "full_name": "13 Egeria (A850 VA)",
            "rot_per": 7.045,
            "gm": "",
            "ir": "",
            "spec_t": "G",
            "ub": 0.452,
        },// [12]
        {
            "spec_b": "S",
            "spec_t": "S",
            "bv": 0.833,
            "ub": 0.388,
            "ir": "",
            "extent": "",
            "gm": "",
            "rot_per": 15.028,
            "diameter": 152,
            "full_name": "14 Irene (A851 KA)",
            "albedo": 0.159,
        },// [13]
        {
            "rot_per": 6.083,
            "spec_b": "S",
            "full_name": "15 Eunomia (A851 OA)",
            "albedo": 0.248,
            "ub": 0.451,
            "bv": 0.839,
            "extent": "",
            "gm": "",
            "ir": "",
            "spec_t": "S",
            "diameter": 231.689,
        },// [14]
        {
            "full_name": "16 Psyche (A852 FA)",
            "albedo": 0.1203,
            "ub": 0.299,
            "ir": "",
            "diameter": 226,
            "extent": "279 x 232 x 189",
            "bv": 0.729,
            "spec_b": "X",
            "gm": 1.53,
            "rot_per": 4.196,
            "spec_t": "M",
        },// [15]
        {
            "spec_b": "Sl",
            "spec_t": "S",
            "bv": 0.829,
            "extent": "",
            "albedo": 0.193,
            "rot_per": 12.27048,
            "gm": "",
            "full_name": "17 Thetis (A852 HA)",
            "diameter": 84.899,
            "ub": 0.438,
            "ir": "",
        },// [16]
        {
            "ub": 0.425,
            "diameter": 139.594,
            "spec_b": "S",
            "albedo": 0.181,
            "ir": "",
            "bv": 0.854,
            "full_name": "18 Melpomene (A852 MA)",
            "gm": "",
            "spec_t": "S",
            "rot_per": 11.57,
            "extent": "",
        },// [17]
        {
            "diameter": 200,
            "full_name": "19 Fortuna (A852 QA)",
            "rot_per": 7.4432,
            "albedo": 0.037,
            "ir": "",
            "ub": 0.324,
            "spec_b": "Ch",
            "spec_t": "G",
            "bv": 0.719,
            "gm": "",
            "extent": "",
        },// [18]
        {
            "gm": "",
            "spec_b": "S",
            "rot_per": 8.098,
            "bv": 0.854,
            "ub": 0.463,
            "spec_t": "S",
            "extent": "",
            "full_name": "20 Massalia (A852 SA)",
            "diameter": 135.68,
            "albedo": 0.241,
            "ir": "",
        },// [19]
        {
            "full_name": "21 Lutetia (A852 VA)",
            "ir": "",
            "spec_t": "M",
            "spec_b": "Xk",
            "bv": 0.686,
            "diameter": 95.76,
            "rot_per": 8.1655,
            "ub": 0.189,
            "albedo": 0.2212,
            "extent": "",
            "gm": "",
        },// [20]
        {
            "spec_b": "X",
            "gm": 0.491,
            "rot_per": 4.1483,
            "spec_t": "M",
            "full_name": "22 Kalliope (A852 WA)",
            "ub": 0.234,
            "bv": 0.715,
            "albedo": 0.166,
            "extent": "",
            "ir": "",
            "diameter": 167.536,
        },// [21]
        {
            "extent": "",
            "spec_b": "S",
            "gm": "",
            "diameter": 107.53,
            "rot_per": 12.312,
            "ir": "",
            "bv": 0.859,
            "spec_t": "S",
            "albedo": 0.2536,
            "ub": 0.442,
            "full_name": "23 Thalia (A852 XA)",
        },// [22]
        {
            "full_name": "24 Themis (A853 GA)",
            "ir": "",
            "spec_t": "C",
            "bv": 0.684,
            "gm": "",
            "extent": "",
            "diameter": 198,
            "albedo": 0.067,
            "rot_per": 8.374,
            "ub": 0.336,
            "spec_b": "B",
        },// [23]
        {
            "rot_per": 9.9341,
            "albedo": 0.35,
            "gm": "",
            "extent": "",
            "ub": 0.513,
            "ir": "",
            "spec_b": "S",
            "spec_t": "S",
            "bv": 0.932,
            "diameter": 61.054,
            "full_name": "25 Phocaea (A853 GB)",
        },// [24]
        {
            "gm": "",
            "extent": "",
            "full_name": "26 Proserpina (A853 JA)",
            "rot_per": 13.11,
            "ir": "",
            "spec_t": "S",
            "bv": 0.891,
            "diameter": 94.8,
            "ub": 0.525,
            "spec_b": "S",
            "albedo": 0.1966,
        },// [25]
        {
            "extent": "",
            "spec_t": "S",
            "ub": 0.502,
            "albedo": 0.215,
            "ir": "",
            "bv": 0.878,
            "spec_b": "S",
            "diameter": 96,
            "rot_per": 10.4082,
            "gm": "",
            "full_name": "27 Euterpe (A853 VA)",
        },// [26]
        {
            "spec_t": "S",
            "bv": 0.845,
            "full_name": "28 Bellona (A854 EA)",
            "diameter": 120.9,
            "albedo": 0.1763,
            "rot_per": 15.706,
            "ir": "",
            "extent": "",
            "ub": 0.469,
            "gm": "",
            "spec_b": "S",
        },// [27]
        {
            "diameter": 189.559,
            "albedo": 0.216,
            "ir": "",
            "extent": "",
            "spec_b": "S",
            "bv": 0.838,
            "spec_t": "S",
            "full_name": "29 Amphitrite (A854 EB)",
            "rot_per": 5.3921,
            "gm": "",
            "ub": 0.449,
        },// [28]
        {
            "gm": "",
            "diameter": 92.787,
            "spec_t": "S",
            "ub": 0.459,
            "full_name": "30 Urania (A854 OA)",
            "albedo": 0.192,
            "bv": 0.873,
            "extent": "",
            "spec_b": "Sl",
            "ir": "",
            "rot_per": 13.686,
        },// [29]
        {
            "diameter": 267.08,
            "rot_per": 5.53,
            "bv": 0.687,
            "albedo": 0.053,
            "spec_b": "Cb",
            "gm": "",
            "full_name": "31 Euphrosyne (A854 RA)",
            "ub": 0.317,
            "spec_t": "C",
            "extent": "",
            "ir": "",
        },// [30]
        {
            "extent": "",
            "diameter": 80.76,
            "spec_b": "S",
            "albedo": 0.2564,
            "gm": "",
            "bv": 0.857,
            "ir": "",
            "full_name": "32 Pomona (A854 UA)",
            "rot_per": 9.448,
            "ub": 0.429,
            "spec_t": "S",
        },// [31]
        {
            "ub": 0.438,
            "rot_per": 18.608,
            "ir": "",
            "albedo": 0.24,
            "extent": "",
            "diameter": 52.929,
            "gm": "",
            "spec_b": "Sq",
            "bv": 0.848,
            "spec_t": "S",
            "full_name": "33 Polyhymnia (A854 UB)",
        },// [32]
        {
            "spec_t": "C",
            "albedo": 0.023,
            "gm": "",
            "spec_b": "Ch",
            "bv": 0.707,
            "extent": "",
            "rot_per": 12.15,
            "full_name": "34 Circe (A855 GA)",
            "diameter": 132.992,
            "ub": 0.357,
            "ir": "",
        },
    ],
)